* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  
  color-scheme: dark;

  --font-color: rgb(220, 223, 223);
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.is-hidden {
  display: none !important;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
}

h1 {
  font-size: 2.6rem;
  margin: 32px;
  text-align: center;
  color: var(--font-color);
  text-decoration: underline;
}

h2 {
  margin-top: 40px;
  text-align: center;
  font-weight: bold;
}

.menu {
  position: relative;

  width: clamp(300px, 80vw, 800px);
  margin: 20px;
  padding: 16px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #1e1e1e;
  color: var(--font-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.btn-close {
  width: clamp(24px, 1.6rem, 64px);
  height: clamp(24px, 1.6rem, 64px);
  border-radius: 50%;
  
  background-color: firebrick;
  border: 2px solid black;
  color: var(--font-color);
  
  position: absolute;
  top: 16px;
  right: 16px;
  
  font-weight: bold;
  line-height: 1;
 
  cursor: pointer;
}

.btn-close:hover,
.btn-close:active {
  background-color: crimson;
}

.menu-btn,
#btn-generate,
#btn-revert {
  background-color: #0d47a1;
  color: var(--font-color);
  box-shadow: var(--shadow);
  
  margin: 12px;
  border: none;
  border-radius: 8px;
  padding: 26px 20px;
  
  width: 100%;
  max-width: 350px;
  
  font-size: 1.4rem;
  font-weight: bold;
  font-family: inherit;

  cursor: pointer;
}

:is(.menu-btn, #btn-generate, #btn-revert):active {
  background-color: #1565c0;
  transform: scale(0.98);
}

.input-container {
  margin: 26px 4px;
  position: relative;
}

.input-container label {
  width: clamp(250px, 60vw, 750px);
  position: absolute;
  top: -10px;
  left: 16px;
  padding: 0 5px;

  pointer-events: none;
  
  font-size: 1rem;
  font-weight: bold;
}

.input-container input {
  width: clamp(250px, 60vw, 750px);
  height: 60px;
  background-color: transparent;

  padding: 0 15px;
  border: 1.2px solid #555;
  outline: none;
  border-radius: 6px;
  margin: 20px;
}

.input-container input:focus {
  border-color: #0d47a1;
}

.checkbox-container {
  font-size: 1.3rem;
  margin: 20px 4px;
  color: var(--font-color);

  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;
}

.checkbox-container input {
  appearance: none;
  -webkit-appearance: none;
  
  width: 24px;
  height: 24px;
  background-color: #1e1e2e;
  border: 2px solid #585b70;
  border-radius: 4px;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease;
}

.checkbox-container input:checked {
  border-color: #5ed358;
  background-color: #aaf7a6;
}

.checkbox-container input::before {
  content: "";
  display: none;
  width: 5px;
  height: 10px;
  border: solid #1e1e2e;
  border-width: 0 2px 2px 0; 
  transform: rotate(45deg);
  margin-bottom: 2px;
}

.checkbox-container input:checked::before {
  display: block;
}

.result {
  color: #54e059;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.6em;
  display: block;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }

  main {
    padding: 10px;
  }
  
  h2 {
    margin-top: 16px;
    font-size: 1.2rem;
  }

  .menu {
    width: 92vw;
    padding: 8px;
    margin: 20px 32px;
  }

  .checkbox-container {
    font-size: .9rem;
    margin: 14px 2px;
  }

  .input-container,
  .input-container input {
    height: 42px;
    margin: 22px 4px;
  }

  .btn-close {
    width: 40px; 
    height: 40px;
  }

  .menu-btn,
  #btn-generate,
  #btn-revert {
    font-size: 1rem;
    padding: 18px 12px;
  }

  #btn-generate,
  #btn-revert {
    margin-top: 40px;
  }

  .result {
    font-size: 1.3rem;
    margin-top: 8px;
  }
}